.posting {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.postingWrapper {
  padding: 10px;
}

.postingTop {
  display: flex;
  align-items: center;
}

.postingImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.postingInput {
  border: none;
  width: 80%;
}

.postingInput:focus {
  outline: none;
}

.postingHr {
  margin: 20px;
}

.postingBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postingOptions {
  display: flex;
  margin-left: 20px;
}

.option {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.postingIcon {
  font-size: 18px;
  margin-right: 3px;
}

.optionText {
  font-size: 14px;
  font-weight: 500;
}

.postingButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
