.feed {
  flex: 5.5;
  border-right: 1px solid #e6ecf0;
  padding: 10px;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wrapper {
  padding: 20px;
}

.feedHeader {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid #e6ecf0;
  padding: 15px 20px;
}
