.right {
  flex: 3.5;
  position: sticky;
  overflow: scroll;
}

.rightWrapper {
  padding: 20px 20px 0 0;
}

.rightBarToFollow{
  list-style: none;
  padding: 0;
  margin: 0;
}

.rightbarTitle{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.rightbarFollowings{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.rightbarFollowingImg{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.item {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarAd {
  width: 90%;
  border-radius: 10px;
  margin: 30px 10px 10px 10px;
}
