.left {
  flex: 0.3;
  min-width: 25%;
  margin-left: 20px;
  margin-right: 0px;
}

.leftWrapper {
  padding: 20px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  margin-right: 15px;
  cursor: pointer;
}

.leftButton {
  width: 90%;
  height: 50px;
  margin-top: 20px;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 30px;
  text-transform: inherit;
  background-color: #1B8AD7;
  font-weight: 900;
}
