.toFollowFriendList {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.toFollowFriendListImgContainer {
  margin-right: 10px;
  position: relative;
}

.toFollowFriendListImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


.toFollowFriendUsername {
  font-weight: 500;
}
